body {
  padding: 30px;
  background: black;
}

header {
  background: rgb(168, 230, 228);
  height: 30vh;
  width: 95%;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgb(163, 215, 247);
}

#title {
  font-family: "Bangers", cursive;
  font-size: 70px;
  margin-top: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(5, 2, 45);
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  /* background: rgb(168, 230, 228); */
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
}

.nav-item:hover {
  font-weight: bold;
  font-size: 36px;
}

.nav-item:visited {
  color: black;
}

.genre-container {
  display: flex;
  flex-flow: column wrap;

  margin: 0 auto;
  padding: 0px;
}

.genre-links {
  font-family: "Bangers";
  text-decoration: none;
}

.genre-item {
  text-align: center;
  margin: 0;
  line-height: 200px;
  border: 1px solid rgb(163, 215, 247);
  width: 95%;
  padding-left: 30px;
  padding-right: 30px;
}

.genre-links:visited {
  color: white;
}

.genre-links:hover {
  font-size: 28px;
}

.questions {
  font-family: "Roboto";
  text-decoration: none;
  color: black;
}

.questions:visited {
  color: black;
}

.questions:hover {
  font-size: 18px;
}

.answer-box {
  font-family: "Arial";
  width: 95%;
  display: flex;
  padding: 30px;
  border: 1px solid rgb(163, 215, 247);
  background: rgb(233, 240, 240);
  overflow-x: hidden;
  overflow-y: auto;
}

.question-answer {
  font-family: "Arial";
  width: 95%;
  /* display: flex; */
  padding: 30px;
  border: 1px solid rgb(163, 215, 247);
  background: rgb(233, 240, 240);
}

textarea {
  width: 400px;
  height: 150px;
}

button {
  margin-left: 25px;
}

.like-box {
  display: inline-block;
}

.like-btn {
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

.dislike-btn {
  background: rgb(235, 47, 47);
  color: white;
  width: 20px;
}

.about {
  font-family: "Arial";
  color: white;
}

p {
  font-family: "Roboto";
  color: white;
}

label {
  color: white;
  font-family: Arial;
}

textarea {
  border-radius: 15px;
  border: 3px solid rgb(0, 0, 0);
}

button {
  background: yellowgreen;
  border-radius: 40px;
  border: 1px solid yellowgreen;
  color: black;
  font-family: "Bangers";
  width: 15%;
  height: 40px;
}

.user-profile {
  font-family: "Roboto";
  font-size: 20px;
  color: white;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid rgb(163, 215, 247);
  background: black;
}

.profile-items {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
}
.user-questions {
  padding: 50px;
}
.user-answer {
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 395px;
  margin: 5px;
  border-radius: 7px;
  border: 3px solid rgb(0, 0, 0);
}

.delete-btn {
  width: 50px;
}

.username {
  margin: 5px;
}

.like-box {
  display: flex;
  flex-direction: row;
}
.like-btn {
  border-radius: 50%;
  width: 50px;
}
.dislike-btn {
  border-radius: 50%;
  width: 50px;
}

.team-name {
  margin: 0 auto;
  font-family: "Nanum Brush Script", cursive;
  font-size: 75px;
  color: rgb(205, 11, 11);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#scroller {
  overflow-x: hidden;
  overflow-y: auto;
  height: 500px;
}

option {
  border: 3px solid rgb(163, 215, 247);
  border-radius: 25%;
}

#scroller2 {
  overflow-x: hidden;
  overflow-y: auto;
  height: 700px;
}
