body {
    padding: 30px;
    background: black ;
}

header {
    background: rgb(168, 230, 228);
    height: 30vh;
}

#title {
    font-family: 'Bangers', cursive;
    font-size: 70px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: rgb(5, 2, 45);
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.answer-box {
    width: 95%;
    display: flex;
    padding: 30px;
    border: 1px solid rgb(163, 215, 247);
    background:rgb(233, 240, 240)
}